/* line 4, ../../app/stylesheets/notification.sass */
.notifications .notification {
  clear: both;
  border-bottom: 1px solid #eeeeee;
  background: url(/images/icons/map_12.png) no-repeat 4px 9px;
  padding: 5px 0 5px 20px;
}
/* line 9, ../../app/stylesheets/notification.sass */
.notifications .notification span.date {
  font-size: 0.9em;
  color: #666666;
}
/* line 12, ../../app/stylesheets/notification.sass */
.notifications .notification a.delete {
  background: url(/images/icons/delete_7.gif) no-repeat 0 0;
  width: 7px;
  height: 7px;
  float: right;
  margin: 5px 5px 0 0;
  cursor: pointer;
}
/* line 19, ../../app/stylesheets/notification.sass */
.notifications .notification a.delete span {
  display: none;
}
/* line 21, ../../app/stylesheets/notification.sass */
.notifications .notification a.delete.hidden {
  display: none;
}
/* line 23, ../../app/stylesheets/notification.sass */
.notifications .notification.hover {
  background-color: #f0f0f0;
}
