#sidebar
	.sidebar_content
		.block.first_block
			%h4 Soon enough!
			%ul
				- @events_from_now.each do |event|
					%li=link_to "#{event.name} in #{time_ago_in_words(event.starts_at.in_time_zone)}", event_path(event)
			.see_all
				=link_to "see more", "#"
		.block
			%h4 Hot tags
			-# %p
				- #tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
					=# link_to tag.name, tag_path(tag.id), :class => css_class
			.see_all
				=link_to "see more", "#"
		.block		
			%h4 Latest riders
			.avatars.indent
				- @active_users.each do |user|
					=link_to raw("#{image_tag user.avatar(:small), :width => 25, :height => 25, :title => user.nickname}"), user_path(user)
			.see_all
				=link_to "see more", "#"			
		.block.last_block		
			%h4 Most used spots
			%p.indent Lorem ipsum dolor sit amet, consectetur adipisicing elit