%h2= raw("Events close to #{@current_location} #{("<span>("+link_to('not your city?', edit_user_registration_path)+")</span>") if !@stored_city and @current_user}")
= paginate @events
.events
	=#render @events
=# paginate @events
- content_for :sidebar_right do
	=render :partial => "home/sidebar"
-# #splash
	=# image_tag "splash2.png"
-# #home_section
-# 	.column
-# 		%h2 It's fun
-# 		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
-# 	.column
-# 		%h2 It's free
-# 		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.	
-# 	.column
-# 		%h2 It's awesome
-# 		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.